<div class="container">
<div class="row" >
    <div *ngFor='let event of events' class="col-xs-4 card__collection clear-fix">
            <div style="cursor: pointer" [routerLink] = "[event.name]" class="cards cards--three">
                <img src="{{event.image}}" class="img-responsive" alt="{{events.name}}">
                <span class="cards--three__rect-1">
                    <span class="shadow-1"></span>
                    <p>{{events.Name}}</p>
                </span>
                <span class="cards--three__rect-2">
                    <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
            </div>
    </div>
</div>
</div>