<div class="container">
<div class="row">
    <div class="col-xs-4 card__collection clear-fix">
        <div class="cards cards--three">
                <img src="../../assets/avion.jpg" class="img-responsive" alt="AVION-E">
                <span class="cards--three__rect-1">
                    <span class="shadow-1"></span>
                    <p>AVION-E</p>
                </span>
                <span class="cards--three__rect-2">
                    <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
            </div>
    </div>
<div class="col-xs-4 card__collection clear-fix">
<div class="cards cards--three">
        <img src="../../assets/jahaaz.jpg" class="img-responsive" alt="JAHAAZ">
        <span class="cards--three__rect-1">
            <span class="shadow-1"></span>
            <p>JAHAAZ</p>
        </span>
        <span class="cards--three__rect-2">
            <span class="shadow-2"></span>
        </span>
        <span class="cards--three__circle"></span>
    </div>
</div>
<div class="col-xs-4 card__collection clear-fix">
    <div class="cards cards--three">
            <img src="../../assets/wrechage.jpg" class="img-responsive" alt="WRECKAGE">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p>WRECKAGE</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
</div>
<div class="row">
        <div class="col-xs-4 card__collection clear-fix">
            <div class="cards cards--three">
                    <img src="../../assets/hovermania-finaltrial.jpg" class="img-responsive" alt="HOVERMANIA">
                    <span class="cards--three__rect-1">
                        <span class="shadow-1"></span>
                        <p>HOVERMANIA</p>
                    </span>
                    <span class="cards--three__rect-2">
                        <span class="shadow-2"></span>
                    </span>
                    <span class="cards--three__circle"></span>
                </div>
        </div>
    <div class="col-xs-4 card__collection clear-fix">
    <div class="cards cards--three">
            <img src="../../assets/npl.jpg" class="img-responsive" alt="NATIONAL PROGRAMMING LEAGUE">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p>NATIONAL PROGRAMMING LEAGUE</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
    </div>
<div class="col-xs-4 card__collection clear-fix">
<div class="cards cards--three">
<img src="../../assets/nrc.jpg" class="img-responsive" alt="NATIONAL ROBOTICS CHAMPIONSHIP">
<span class="cards--three__rect-1">
    <span class="shadow-1"></span>
    <p>NATIONAL ROBOTICS CHAMPIONSHIP</p>
</span>
<span class="cards--three__rect-2">
    <span class="shadow-2"></span>
</span>
<span class="cards--three__circle"></span>
</div>
</div>
<div class="row">
<div class="col-xs-4 card__collection clear-fix">
    <div class="cards cards--three">
            <img src="../../assets/3musketeers..jpg" class="img-responsive" alt="THE THREE MUSKETEERS">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p>THE THREE MUSKETEERS</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
</div>
<div class="col-xs-4 card__collection clear-fix">
<div class="cards cards--three">
    <img src="../../assets/enigma.jpg" class="img-responsive" alt="ENIGMA">
    <span class="cards--three__rect-1">
        <span class="shadow-1"></span>
        <p>ENIGMA</p>
    </span>
    <span class="cards--three__rect-2">
        <span class="shadow-2"></span>
    </span>
    <span class="cards--three__circle"></span>
</div>
</div>
<div class="col-xs-4 card__collection clear-fix">
<div class="cards cards--three">
        <img src="../../assets/techfresh.jpg" class="img-responsive" alt="TECHFRESH">
        <span class="cards--three__rect-1">
            <span class="shadow-1"></span>
            <p>TECHFRESH</p>
        </span>
        <span class="cards--three__rect-2">
            <span class="shadow-2"></span>
        </span>
        <span class="cards--three__circle"></span>
    </div>
</div>
<div class="row">
        <div class="col-xs-4 card__collection clear-fix">
            <div class="cards cards--three">
                    <img src="../../assets/ppt.jpg" class="img-responsive" alt="PAPER PRESENTATION">
                    <span class="cards--three__rect-1">
                        <span class="shadow-1"></span>
                        <p>PAPER PRESENTATION</p>
                    </span>
                    <span class="cards--three__rect-2">
                        <span class="shadow-2"></span>
                    </span>
                    <span class="cards--three__circle"></span>
                </div>
        </div>
    <div class="col-xs-4 card__collection clear-fix">
    <div class="cards cards--three">
            <img src="../../assets/SILB.jpg" class="img-responsive" alt="Spend It Like Beckham">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p>Spend It Like Beckham</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
    </div>
<div class="col-xs-4 card__collection clear-fix">
<div class="cards cards--three">
    <img src="../../assets/third_arm.png" class="img-responsive" alt="THE THIRD ARM">
    <span class="cards--three__rect-1">
        <span class="shadow-1"></span>
        <p>THE THIRD ARM</p>
    </span>
    <span class="cards--three__rect-2">
        <span class="shadow-2"></span>
    </span>
    <span class="cards--three__circle"></span>
</div>
</div>
<div class="row">
        <div class="col-xs-4 card__collection clear-fix">
            <div class="cards cards--three">
                    <img src="../../assets/incelligence.jpg" class="img-responsive" alt="inCELLigence">
                    <span class="cards--three__rect-1">
                        <span class="shadow-1"></span>
                        <p>inCELLigence</p>
                    </span>
                    <span class="cards--three__rect-2">
                        <span class="shadow-2"></span>
                    </span>
                    <span class="cards--three__circle"></span>
                </div>
        </div>
    <div class="col-xs-4 card__collection clear-fix">
    <div class="cards cards--three">
            <img src="../../assets/construir.jpg" class="img-responsive" alt="Construir">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p>Construir</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
    </div>
</div>
</div>