<!--Navbar-->
<mdb-navbar SideClass="pt-3  shadow-none navbar  navbar-expand-lg navbar-light" [containerInside]="false" >

  <!-- Navbar brand -->
  <mdb-navbar-brand   ><a class="navbar-brand " href="#"><strong>Samgatha</strong></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links >

    <!-- Links -->
    <div class="m-auto " >  
    <ul class="navbar-nav" >
      <li class="nav-item" [ngClass]="{'activeButton':router.url === '/'}">
        <a class="nav-link" [routerLink] = "['']"  mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'activeButton':router.url === '/events'}">
        <a class="nav-link waves-light" [routerLink] = "['events']"  mdbWavesEffect>Events</a>
      </li>
      <li class="nav-item" [ngClass]="{'activeButton':router.url === '/workshops'}">
        <a class="nav-link waves-light" [routerLink] = "['workshops']" mdbWavesEffect>Workshops</a>
      </li>
      <li class="nav-item" [ngClass]="{'activeButton':router.url === '/aboutus'}">
          <a href="#aboutus" class="nav-link waves-light"   mdbWavesEffect>About Us</a>
        </li>
        <li class="nav-item" [ngClass]="{'activeButton':router.url === '/sponsors'}">
          <a class="nav-link waves-light" [routerLink] = "['sponsors']" mdbWavesEffect>Sponsors</a>
        </li>
        <li class="nav-item" [ngClass]="{'activeButton':router.url === '/proshows'}">
          <a class="nav-link waves-light" [routerLink] = "['proshows']" mdbWavesEffect>Proshows</a>
        </li>
        <li class="nav-item" [ngClass]="{'activeButton':router.url === '/contactus'}">
          <a class="nav-link waves-light" [routerLink] = "['contact']" mdbWavesEffect>Contact us</a>
        </li>
    </ul>
    </div>

    <!-- Search form -->

      <div style="float: right">
          <app-search  ></app-search>
      </div>
  </links>
  <!-- Collapsible content -->
  
</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>
