
<!--Navbar-->
<mdb-navbar SideClass="pt-3 navbar navbar-expand-lg navbar-dark bg-secondary" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active':router.url === '/'}">
        <a class="nav-link waves-light" [routerLink] = "['']"  mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':router.url === '/events'}">
        <a class="nav-link waves-light" [routerLink] = "['events']"  mdbWavesEffect>Events</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':router.url === '/workshops'}">
        <a class="nav-link waves-light" [routerLink] = "['workshops']" mdbWavesEffect>Workshops</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':router.url === '/aboutus'}">
          <a class="nav-link waves-light" [routerLink] = "['aboutus']" mdbWavesEffect>About Us</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':router.url === '/sponsors'}">
          <a class="nav-link waves-light" [routerLink] = "['sponsors']" mdbWavesEffect>Sponsors</a>
        </li>
    </ul>
    <!-- Search form -->
    <app-search></app-search>

    <li class="nav-item avatar mb-3 dropdown" dropdown>
        <a dropdownToggle  type="button" class="nav-link dropdown-toggle waves-light" >
          <div  style="height: 40px; width: 40px; display: inline-block; background-color:black "  class="rounded-circle  z-depth-0"></div></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Login</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Register</a>
        </div>
      </li>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>