<div class=" date center" style=" height: 70%;">
<p style="display: inline-block" aria-label="CodePen" *ngFor='let i of dateChars'>
<span  attr.data-text="{{i}}">{{i}}</span>
</p>
</div>
<div style="text-align: center;height: 5%;">
    <button type="button" style="width: 10%;color: black;border-color: black"  class="btn btn-outline-secondary waves-effect">Register</button>
</div>
<div style="text-align: center;height: 25%;">
        <button type="button" style="width: 10%;color: black;border-color: black"  class="btn btn-outline-secondary waves-effect">Login</button>
    </div>

<div class="ml-3 mr-3">
    <div  id="aboutus"  style="width:50%; display: inline-block" >
        <header style=" background-color: #006DCA"> 
            <h1>About Us</h1>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,100 100,0 100,100"/>
            </svg>
        </header>
                
        
        <section>
                <div class="ml-3 mr-5 " style=" font-size: 15pt; ">
                        Samgatha, Asia's largest college cultural festival, has developed over the years into so much more: a melting pot of Indian and global culture, a launchpad for upcoming artists, a spectacular showcase of talent, an epitome of incredible human experience: where you can never see it all, but what you do see lasts a lifetime, where friendships are born and memories are made amidst the gleam of several bonfires as the nights intensify.
                        Our mission is to bring along all of you and invigorate you with extreme amounts of pure happiness and ecstacy, and also serve as an escape from all the bitterness in our lives.
                        This is what drives us into our 49th edition this year!
                        Embrace yourself for another cultural extravaganza: join us this year from 30th December- 31st February at Samgatha! 
                </div>
        </section>
    </div>
    <img  style="vertical-align:top;width:50%;display: inline-block" src="http://lh5.ggpht.com/_KLJU3hHDGVM/TC7uSmb5S5I/AAAAAAAACiA/MBQQw7LqnB4/s1600/Dance_White_Background.jpg">
</div>


<div class="ml-3 mr-3 mt-5" >
    <div style="display: inline-block;">
        <img style="vertical-align: top;width:50%" src="https://i.pinimg.com/originals/63/f3/32/63f332b2ebef1e1753aaf0038f1bee71.png">
    </div>
    <div  style="position:absolute; right:0;width: 50%;display: inline-block; " >
        <header style="background-color: #B63A14;">
            <h1>Stats</h1>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="100,100 0,0 0,100"/>https://i.pinimg.com/originals/63/f3/32/63f332b2ebef1e1753aaf0038f1bee71.png">
            </svg>
        </header>
                  
          
          <section>
                <div style="text-align: right;margin:10% 10% 10% 0;max-width:60%;transform: scale(2.0)" >
                    <p style="display: inline-block" aria-label="CodePen" *ngFor='let i of days'>
                            <span  attr.data-text="{{i}}">{{i}}</span>
                    </p>
                    <br>
                    <p style="display: inline-block" aria-label="CodePen" *ngFor='let i of events'>
                        <span  attr.data-text="{{i}}">{{i}}</span>
                    </p>
                    <br>
                    <p style="display: inline-block" aria-label="CodePen" *ngFor='let i of prizeMoney'>
                        <span  attr.data-text="{{i}}">{{i}}</span>
                    </p>
                </div>
        </section>
    </div>
</div>

    
